.App-container{
  display: "flex";
  justify-content: center;
  background-color: black;
  height: auto;
  width: auto;

}

.container{
  padding: 2em;
  margin: 2em;
  border: 3px solid black;

}

.title{
  color: tomato;
}


.button{
  background-color: green;
  color: black;
  cursor: pointer;
}