*{
  box-sizing: border-box;
  
}
h2,
h3{
  color: aliceblue;
}

.App-container{
  display: flex;
  justify-content: center;
  background-color: black;
  width: auto;
  height: 100vh;

}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-family: 'Game of Squids';
}



.title{
  color: tomato;
}

.picks-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center ;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items:center;
  padding-top: 1em;
}

.button{  
  background-color: green;
  color: black;
  cursor: pointer;
}

.message-container,
.signout-request-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Game of Squids';
}

.signout-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}