*{
  box-sizing: border-box;
  
}
h2,
h3{
  color: rgb(255,255,255);
}

.social-link{
  color: black;
  font-size: large;
}

.header-cards{
    display: flex;
    justify-content: space-around;
    width: 90%;
    font-family: 'Game of Squids';
    margin-top: 5%;
}

.App-container{
  display: flex;
  justify-content: center;
  background-color: black;
  width: auto;
  height: 100vh;
}

.page-container {
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  justify-content: space-between;
}

.selection-container{
  width: 90%;
  height: 100%;
  background-color: beige;
  align-self: center;
}


.blocker-container{
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.email-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}


.footer{
  display: flex;
  background-color:rgb(244,71,134);;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height:7% ;
}

.proto-links{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.rob-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  width: 20%;
}

.title{
  color: rgb(244,71,134);
  font-family: 'Game of Squids';
  margin: 1em;
  display: flex;
  justify-content: center;
}

.picks-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center ;
  /* width: 50vw; */
}

.signin-button-container{
  display: flex;
  justify-content: center;
  align-items:center;
  padding-top: 1em;
}

.enter-picks-button-container{
  display: flex;
  justify-content: center;
  align-items:center;
  padding-top: 1em;
  width: 80%;
}

#button{  
  background-color: rgb(244,71,134);
  border: rgb(244,71,134);
  cursor: pointer;
  width: 100%;
}

.page-title{
  text-align: center;
}

.directions-container{
    text-align: center;
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 10px;
}
.directions2-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
}
.picks-container-buttons{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center ;
  margin-bottom: 5%;
}
.games-list{
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.message-container,
.signout-request-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Game of Squids';
  text-align: center;
  padding-bottom: 3em;
}
.sign-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.signout-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em
}
.card{
  height: 100%;
}

.page-players-left{
    text-align: center;
    width: min-content;
}

.page-jackpot{
  width: min-content;
  text-align: center;
  height: 100%;
}

.signout-button-container{
  width: 50%;
  display: flex;
}


/* #over-pick,#team-pick{
  margin: 5px;
  width: 80%;
} */

#dropdown-basic-button1{
  background-color: rgb(36,159,156);
  border: rgb(36,159,156);
  width: 100%;
}

#dropdown-basic-button2{
  background-color: rgb(36,159,156);
  border: rgb(36,159,156);
  width: 100%;
}

h5{
  color: rgb(36,159,156);
  margin: 5px;
}